body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

canvas#game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fps {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
